*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
      position: relative;
    background:url(img/car-bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 20px 75px;
    transition: all 1s ease;
    color: #fff;
}
.logo{
    width: 80px;
    margin-top: 10px;
    border-radius: 50%;
}
.items{
    display: flex;
    align-items: end;
    margin-left: 600px;

}
.items ul{
    display: flex;
    list-style: none;
}
.items ul li{
    color: #fff;
    margin-right: 50px;
   
    position: relative;
    gap: 55px;
    align-items: center;
    


}
.btn{
    display: flex;
    align-items: center;
}
.btn button{
    border: none;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    background-color: #4a2dff;
    font-size: 16px;
    
}
.content{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    margin-left: 5vw;

   
}
.c-1{
    margin-bottom: 20px;
}
.c-1 h1{
    color: #fff;
    font-size: 4rem;
   

}

.c-2{
    
    margin: 12px 0px;
    font-size: 17px;
    color: #fff;
}
.c-2 p{
    letter-spacing: 1px;
}
.c-3 button{
    padding: 1rem 2rem;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #4a2dff;
    color: #fff;
}
